*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: #fafafa; */
    
    }

.container{
    width: 100%;
    height: 100vh;
    background-color: #fafafa;
    padding: 50px 8%;
    position: relative;
    font-weight: 600;

}

nav{
    background-image: url(circle.png);
    background-size: cover;
    background-position: right;
    padding: 10% 5% 15% 15%;
    position: absolute;
    left: -10%;
    top: -12%;
}

.logo{
width: 60px;
margin-bottom: 20px;
}


nav ul li{
list-style: none;
margin: 10px 0;


}

nav ul li a{

color: #fff;
text-decoration: none;


}


.contact-btn{
position: absolute;
top: 40px;
right: 8%;
display: flex;
align-items: center;
color: #000;
text-decoration: none;
}

.contact-btn img{
    width: 20px;
    margin-left: 15px;
}

.row{
display: flex;
align-items: center;
justify-content: space-between;
flex-wrap: wrap;
padding-top: 10%;

}

.col-1{
    max-width: 800px;
    padding-left: 10%;
    color: #333;
}

.col-1 h1{
    font-size: 36px;
    font-weight: 600;
    line-height: 50px;
    margin-bottom: 30px;

}

.profile-img{
    width: 80%;
    max-width: 450px;
    position: relative;
    z-index: 2;
    transition: transform 1s;
}

.col-2{
    text-align: center;
    position: relative;

}

.back-img{

    position: absolute;
    width: 80%;
    max-width: 450px;
    top: -12px;
    right: 12px;
}

.profile-img:hover{
transform: translate(-25px, -25px);
cursor: pointer;


}

.container2{
    width: 100%;
    height: 100vh;
    background-color: #fafafa;
    padding: 50px 8%;
    position: relative;
    font-weight: 600;

}

nav2{
    background-image: url(circle.png);
    background-size: cover;
    background-position: right;
    padding: 10% 5% 15% 15%;
    position: absolute;
    left: -10%;
    top: -12%;
}

.logo2{
width: 60px;
margin-bottom: 20px;

}


nav ul li{
list-style: none;
margin: 10px 0;
font-size: 26px;


}

nav ul li a{

color: #fff;
text-decoration: none;


}


.contact-btn2{
position: absolute;
top: 40px;
right: 8%;
display: flex;
align-items: center;
color: #000;
text-decoration: none;
}

.contact-btn2 img{
    width: 20px;
    margin-left: 15px;
}

.row2{
display: flex;
align-items: center;
justify-content: space-between;
flex-wrap: wrap;
padding-top: 10%;

}

.col-3{
    max-width: 800px;
    padding-left: 10%;
    color: #333;
}

.col-3 h1{
    font-size: 36px;
    font-weight: 600;
    line-height: 50px;
    margin-bottom: 30px;

}

.profile-img2{
    width: 80%;
    max-width: 450px;
    position: relative;
    z-index: 2;
    transition: transform 1s;
}

.col-4{
    text-align: center;
    position: relative;

}

.back-img2{

    position: absolute;
    width: 80%;
    max-width: 450px;
    top: -12px;
    right: 12px;
}

.profile-img2:hover{
transform: translate(-25px, -25px);
cursor: pointer;


}


.container3{
    width: 100%;
    height: 100vh;
    background-color: #fafafa;
    padding: 50px 8%;
    position: relative;
    font-weight: 600;

}

nav3{
    background-image: url(circle.png);
    background-size: cover;
    background-position: right;
    padding: 10% 5% 15% 15%;
    position: absolute;
    left: -10%;
    top: -12%;
}

.logo3{
width: 60px;
margin-bottom: 20px;

}


nav ul li{
list-style: none;
margin: 10px 0;
font-size: 26px;


}

nav ul li a{

color: #fff;
text-decoration: none;


}


.contact-btn3{
position: absolute;
top: 40px;
right: 8%;
display: flex;
align-items: center;
color: #000;
text-decoration: none;
}

.contact-btn3 img{
    width: 20px;
    margin-left: 15px;
}

.row3{
display: flex;
align-items: center;
justify-content: space-between;
flex-wrap: wrap;
padding-top: 10%;

}

.col-5{
    max-width: 800px;
    padding-left: 10%;
    color: #333;
}

.col-5 h1{
    font-size: 36px;
    font-weight: 600;
    line-height: 50px;
    margin-bottom: 30px;

}

.profile-img3{
    width: 80%;
    max-width: 450px;
    position: relative;
    z-index: 2;
    transition: transform 1s;
}

.col-6{
    text-align: center;
    position: relative;

}

.back-img3{

    position: absolute;
    width: 80%;
    max-width: 450px;
    top: -12px;
    right: 12px;
}

.profile-img3:hover{
transform: translate(-25px, -25px);
cursor: pointer;


}

.container4{
    width: 100%;
    height: 100vh;
    background-color: #fafafa;
    padding: 50px 8%;
    position: relative;
    font-weight: 600;

}

nav2{
    background-image: url(circle.png);
    background-size: cover;
    background-position: right;
    padding: 10% 5% 15% 15%;
    position: absolute;
    left: -10%;
    top: -12%;
}

.logo4{
width: 60px;
margin-bottom: 20px;

}


nav ul li{
list-style: none;
margin: 10px 0;
font-size: 26px;


}

nav ul li a{

color: #fff;
text-decoration: none;


}


.contact-btn4{
position: absolute;
top: 40px;
right: 8%;
display: flex;
align-items: center;
color: #000;
text-decoration: none;
}

.contact-btn4 img{
    width: 20px;
    margin-left: 15px;
}

.row4{
display: flex;
align-items: center;
justify-content: space-between;
flex-wrap: wrap;
padding-top: 10%;

}

.col-7{
    max-width: 800px;
    padding-left: 10%;
    color: #333;
}

.col-7 h1{
    font-size: 36px;
    font-weight: 600;
    line-height: 50px;
    margin-bottom: 30px;

}

.profile-img4{
    width: 80%;
    max-width: 450px;
    position: relative;
    z-index: 2;
    transition: transform 1s;
}

.col-8{
    text-align: center;
    position: relative;

}

.back-img4{

    position: absolute;
    width: 80%;
    max-width: 450px;
    top: -12px;
    right: 12px;
}

.profile-img4:hover{
transform: translate(-25px, -25px);
cursor: pointer;


}